body {
    background-color: rgba(193, 11, 11, 0.893);
    color: rgb(60, 255, 0);
    margin: 0;
}

a {
    color: aqua;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 {
    text-align: center;
}

.firstP {
    color: yellow;
    font-style: italic;
    text-decoration: underline;
}

.secondP {
    font-weight: bold;
}

.firstIMG {
    float: left;
    padding-right: 10px;
    padding-bottom: 10px;
}

.secondIMG {
    float: right;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.SecondSentence {
    color: aqua;
}

button {
    background-color: goldenrod;
    border: none;
    padding: 10px;
    border-radius: 5px;
}

.endA {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.endA {
    text-decoration: underline;
    display: inline-block;
    padding: 10px 20px;
    background-color: #461717;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}
