body {
    background-image: url("../img/IMG_3.jpg");
    background-position: center;
    background-size: cover; /* Додано для кращого відображення фону */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1 {
    font-size: 3rem;
    color: #000000;
    text-align: center;
}

.checking {
    text-decoration: none;
    color:#000000;
}